/* global style */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: inherit;
}

button {
  border: none;
  background: transparent;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}

.icon {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* icons */

.i-search {
  background-image: url('images/magnify.svg');
}

.i-menu {
  background-image: url('images/menu.svg');
}

.i-clock {
  background-image: url('images/clock-outline.svg');
}

.i-share {
  background-image: url('images/share-variant.svg');
}

/* header */

.main-nav {
  display: grid;
}

.top-nav,
.bottom-nav,
.top-nav ul,
.bottom-nav ul {
  display: flex;
  align-items: center;
}

.top-nav,
.bottom-nav {
  padding: 1rem 2rem;
  justify-content: space-between;
}

.top-nav ul:first-of-type li {
  margin-right: 1rem;
}

.top-nav ul:last-of-type li {
  margin-left: 1rem;
}

.top-nav {
  background-color: #000;
  font-size: 1.3rem;
  color: #999;
  line-height: 1;
}

.top-nav ul:first-of-type li:first-child {
  color: #fff;
}

.bottom-nav {
  font-size: 1.4rem;
  padding: 0;
  text-transform: uppercase;
  color: #999;
}

.bottom-nav button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.bottom-nav ul:first-of-type {
  padding: 1.5rem 0 1.5rem 2rem;
}

.bottom-nav ul:first-of-type li {
  margin-right: 2rem;
}

.bottom-nav li:first-of-type .icon {
  transform: rotate(90deg);
}

.bottom-nav ul:last-of-type {
  align-self: stretch;
  align-items: stretch;
}

.bottom-nav ul:last-of-type li {
  display: flex;
  border-left: 1px solid rgba(153, 153, 153, 0.1);
}

.bottom-nav ul:last-of-type li:last-of-type {
  display: none;
}

.announcement {
  padding: 0.7rem 2rem;
  font-size: 1.3rem;
  line-height: 1.3;
  background-color: rgb(255, 221, 51);
}

/* main */

/* recent-articles */

.recent-articles-container {
  margin: 2px 5px;
  display: grid;
  gap: 8px;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 265px 265px;
}

.main-article {
  position: relative;
  grid-row: 1 / span 2;
}

.recent-article {
  background-repeat: no-repeat;
  background-size: cover;
}

.main-article .recent-article-header {
  position: absolute;
}

.recent-article-header {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
  color: #fff;
  z-index: 10;
}

.recent-article-header h4 {
  font-size: 1.4rem;
  font-weight: 400;
}

.recent-article-header h2 {
  font-size: 2.8rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.main-article .recent-article-header h2 {
  font-size: 5.2rem;
  padding-top: 0;
}

.hero {
  position: absolute;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 67, 10, 0.85) 20%,
    rgba(255, 67, 10, 0.5) 60%,
    transparent
  );
}

.hero time {
  flex: 1;
  font-size: 1.4rem;
  color: #fff;
  text-align: end;
  z-index: 30;
}

.logo-large {
  height: 96px;
  flex: 1;
  background-image: url('images/tnw.svg');
  background-repeat: no-repeat;
  z-index: 30;
}

.article-author {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #999;
}

.article-author .icon {
  margin-left: 0.5rem;
  height: 1.8rem;
  height: 1.8rem;
}

/* container */

/* latest-news */
